# Keep all dependencies out of version control
node_modules
/src/database/generated/prisma
prisma/migrations
errors/
dist/
logs/
.pnpm*/

# Keep environment variables out of version control
.env.development
.env
.env.test

# Keep vscode settings out of version control
.vscode
.zed

# Keep pnpm lock file out of version control
pnpm*.yaml

# Keep makefile out of version control
Makefile
